In [9]:
from lib_simfin import *

In [10]:
tickers = ["AMD","NVDA","INTC","MU","VZ","DIS","BAC","WBA","DAL"]
sim_id_map(tickers)
get_price_info(tickers)
periods = [5, 10, 20, 30, 50, 100, 200, 300, 500, 1000]
show_momentum(tickers, periods)

         AMD    NVDA   INTC      MU     VZ    DIS     BAC     WBA     DAL
5      -0.0%    1.4%  -0.7%    0.5%   5.1%   0.1%   -5.0%   -1.4%   -1.6%
10      9.9%    4.9%  -1.7%    3.8%   5.2%  -3.5%   -7.1%    0.0%   -3.8%
20      9.4%   13.9%   0.4%   -2.4%   6.9%  -2.3%   -7.4%  -13.2%   -2.0%
30     12.6%   17.1%   6.9%   -0.2%  11.4%   0.9%   -4.7%  -12.9%   -0.9%
50     27.0%   17.7%  11.2%   16.3%   4.5%  -2.0%    3.7%  -11.8%    3.5%
100    49.4%  -12.7%  13.3%   12.0%   5.3%  -3.3%    2.7%  -20.5%   -9.7%
200    68.5%  -32.4%  -1.1%  -34.3%  27.4%   7.6%   -7.9%   -0.6%   -7.4%
300   109.2%  -19.3%  27.8%  -11.5%  22.8%   1.1%  -10.8%  -16.1%  -14.6%
500    82.2%   62.7%  57.4%   54.7%  35.8%   0.4%   18.2%  -22.3%   11.3%
1000  844.5%  733.5%  91.6%   51.1%  48.0%  10.7%   87.5%  -23.2%   27.2%

In [11]:
stock_price_dict['NVDA'].head(10)
#stock_price_dict['NVDA'].iloc[3000]

         date  closeAdj
0  2019-03-26    176.87
1  2019-03-25    173.78
2  2019-03-22    177.50
3  2019-03-21    183.94
4  2019-03-20    174.40
5  2019-03-19    175.71
6  2019-03-18    168.95
7  2019-03-15    169.81
8  2019-03-14    165.56
9  2019-03-13    168.62

In [12]:
df1 = show_momentum_date(tickers, '2019-01-02', '2019-03-26')
df2 = show_momentum_date(tickers, '2018-01-02', '2019-03-26')
df3 = show_momentum_date(tickers, '2017-01-03', '2019-03-26')
pd.concat([df1, df2, df3])

,AMD,NVDA,INTC,MU,VZ,DIS,BAC,WBA,DAL
2019-01-02 ~ 2019-03-26,36.4%,30.0%,14.2%,23.1%,9.4%,1.1%,9.6%,-8.4%,-1.3%
2018-01-02 ~ 2019-03-26,134.0%,-10.9%,17.7%,-7.7%,19.9%,0.1%,-6.8%,-14.9%,-10.7%
2017-01-03 ~ 2019-03-26,124.8%,74.7%,54.9%,78.8%,23.3%,7.1%,25.6%,-21.6%,4.5%